<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioWCFCamion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51678/ServicioWCFCamion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioWCFCamion"
                contract="ServiceReference1.IServicioWCFCamion" name="BasicHttpBinding_IServicioWCFCamion" />
        </client>
    </system.serviceModel>
</configuration>